{% extends 'base.html' %}
{% block title %} Edit Pet Form {% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>{{pet.name}}</h2>
            <div>
                <img class="img-thumbnail" src="{{pet.img_url}}" alt="">
            </div>
            <h3>Species: {{pet.species}}</h3>
            {% if pet.age %}
            <h3>Age: {{pet.age}}</h3>
            {% endif %}

<hr>
            <h4>Edit</h4>
            <form action="/{{pet.id}}" method="POST">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{form.img_url.label}}
                    {{form.img_url}}

                    {{form.notes.label}}
                    {{form.notes}}

                    {{form.available.label}}
                    {{form.available}}
            <button class="btn btn-primary">Update</button>
            <a class="btn btn-danger" href="/{{pet.id}}">Go back</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}